---
Checks: >-
  clang-analyzer-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  -misc-include-cleaner,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-avoid-const-params-in-decls,
  -llvm-header-guard,
  -modernize-avoid-c-arrays,
  -modernize-use-designated-initializers,
  -modernize-use-ranges,
  -readability-redundant-access-specifiers,
  -readability-redundant-typename,
  -readability-implicit-bool-conversion,
  -hicpp-static-assert,
  -misc-static-assert
WarningsAsErrors: '*'
HeaderFilterRegex: '.*\.hpp'
FormatStyle: file
...
