---
Checks: >-
  clang-analyzer-*,
  google-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-avoid-const-params-in-decls,
  -llvm-header-guard,
  -modernize-avoid-c-arrays,
  -readability-redundant-access-specifiers,
  -hicpp-static-assert,
  -misc-static-assert,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*\.hpp'
FormatStyle: file
...
